main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    overflow-y: hidden;
}


.row{
    display: flex;
}

.item{
    border: solid 2px rgb(64, 14, 94);
    border-radius: 8px;
    height: 300px;
    width: 400px;
    padding: 10px;
    margin: 10px;
}
ul{
    padding-left: 20px;
}

