main{
    padding: 40px;
}

.container{
    display: flex;
    justify-content: space-between;
}

#video{
    margin: 15px;
    width: 800px;
    height: 500px;
    border-radius: 3px;
}

.videos{
    display: inline;
    width: 400px;
    height: 600px;
    display: grid;
}
.video--videos{
    margin: 10px;
    height: 100px;
    width: 200px;
    display: inline;
}
span{
    font-size: 12px;
}